<h1> Chitter </h1>

<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>

<% if current_user %>
	
	Welcome, <%= @current_user.name %>
	<form action='/sessions' method="post">
	<input type='hidden' name='_method' value='delete'>
	<input type='submit' value='Sign out'>
	</form>
	<div id='create_peep'>
		<form action='/peep' method='post'> 
			Post: <input type='text' name='post'>
			<input type='submit' value='Peep!'>
		</form>
	</div>

<% else %>

	<h3> <a href='/users/new'>Sign up</a> and start posting!</h3>
	<h4> Already a member? Then <a href="/sessions/new"> Sign in</a></h4>

<% end %>

<h3> Peeps: </h3>
<ul>
<% @peeps.each do |peep| %>
	<li> <%= peep.user.name %> (@<%=peep.user.username %>) - <%= peep.created_at.strftime('%b %d (%H:%M)')%></li> 
			<%= peep.post%>
<% end %>
</ul>